<html th:replace="~{/layouts/base :: layoutBase(~{::section})}">
<section class="container px-4 px-lg-5 mt-5 my-5">
    <h1 class="border-bottom pb-2 mb-2">비밀번호 변경</h1>
    <div class="row-2">
        <div th:replace="~{/fragments/fragment :: settingsMenu ('password')}"></div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profileEdit" role="tabpanel" aria-labelledby="pills-profileEdit-tab">
            <form class="col-sm-6" th:action="@{/profile/password/edit}" th:object="${passwordEditForm}" method="post">

<!--                <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--                    <strong th:text="${message}">수정 완료</strong>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--                </div>-->

                <!-- password og -->
                <div class="form-group mb-2">
                    <label for="password" class="form-label">기존 비밀번호</label>
                    <input id="password" name="password" type="password" class="form-control"/>
                    <small class="text-danger" th:errors="*{password}">기존 비밀번호 에러</small>
                </div>

                <div class="form-group mb-2">
                    <label for="newPassword1" class="form-label">새 비밀번호</label>
                    <input id="newPassword1" name="newPassword1" type="password" class="form-control"/>
                    <small class="text-danger" th:errors="*{newPassword1}">새 비밀번호 에러</small>
                </div>

                <div class="form-group mb-2">
                    <label for="newPassword2" class="form-label">새 비밀번호 (확인)</label>
                    <input id="newPassword2" name="newPassword2" type="password" class="form-control"/>
                    <small class="text-danger" th:errors="*{newPassword2}">새 비밀번호 에러2</small>
                </div>

                <!-- submit button -->
                <div class="form-group mt-4">
                    <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정</button>
                </div>
            </form>
        </div>
    </div>
</section>
</html>