<html th:replace="~{/layouts/base :: layoutBase(~{::section})}">
<section class="container px-4 px-lg-5 mt-5 my-5">
    <h1 class="border-bottom pb-2 mb-2" th:text="${member.username}">Member ID</h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profileEdit"
                    type="button" role="tab" aria-controls="pills-profileEdit" aria-selected="true">프로필</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password"
                    type="button" role="tab" aria-controls="pills-password" aria-selected="false">패스워드</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profileEdit" role="tabpanel" aria-labelledby="pills-profileEdit-tab">
            <form class="col-sm-6" th:action="@{/profile/edit}" th:object="${form}" method="post">
                <!-- bio tab -->
                <div class="form-group mb-2">
                    <label for="bio" class="form-label">한 줄 소개</label>
                    <input id="bio" type="text" class="form-control" placeholder="40자 이내 한줄로 자신을 소개해보세요!" th:field="*{bio}"/>
                    <small id="bioHelp" class="form-text text-muted">
                        40자 이내 한줄로 자신을 소개해보세요!
                    </small>
                </div>
                <div class="form-group mt-4">
                    <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
            패스워드 수정 탭
        </div>
    </div>
</section>
</html>