<!DOCTYPE html>
<html th:fragment="layoutBase (content)" lang="ko" xmlns:th="http://www.thymeleaf.org">
<haed th:replace="~{fragments/fragment :: headFrag}"></haed>

<body class="d-flex flex-column min-vh-100">

<!-- navbar -->
<nav th:replace="~{fragments/fragment :: navbarFrag}"></nav>

<!-- contents body -->
<div th:replace="${content}">
</div>

<!-- footer -->
<footer th:replace="~{fragments/fragment :: footerFrag}"></footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>

</html>
