<html th:replace="~{/layouts/base :: layoutBase(~{::section})}">
<section class="container px-4 px-lg-5 mt-5 my-5">
    <H2 th:text="|안녕하세요 ${welcome}님|">WELCOME MESSAGE</H2>
</section>
<section class="container px-4 px-lg-5 mt-5 my-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div th:each="shop : ${shopList}" class="col mb-5">
            <a class="card h-100" th:href="@{|/${shop.url}|}">
                <!-- Product image-->
<!--                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
                <img class="card-img-top mb-5 mb-md-0"
                     th:src="|/images/${shop.getShopImage().getStoredName()}|"
                     width="450" height="200" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder" th:text="${shop.shopTitle}">Product Name</h5>
                        <span th:text="${shop.description}">Shop Tag</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
</html>