<html th:replace="~{/layouts/shopBase :: layoutShopBase(~{::section})}">
<section class="container px-4 px-lg-5 mt-5 my-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" th:object="${itemResponseDto}">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                     th:src="|/images/${itemResponseDto.getItemImage().getStoredName()}|"
                     width="500" height="600" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1" th:text="@{|pdt${itemResponseDto.id}|}">ID</div>
                <h1 class="display-5 fw-bolder" th:text="${itemResponseDto.itemName}">상품명</h1>
                <div class="fs-5 mb-5">
                    <span th:text="@{|₩ ${itemResponseDto.priceWon}|}">가격</span>
                </div>
                <p class="lead" th:text="${itemResponseDto.description}">제품 설명 긴글</p>

                <form class="d-flex" th:object=${addItemToCartRequestDto} th:action="@{|/cart/add|}" method="post">
                    <input class="form-control text-center me-3" id="quantity" name="quantity" type="number" min="1" value="1" style="max-width: 5rem" required/>
                    <input type="hidden" name="itemId" th:value="${itemResponseDto.id}" />
                    <input type="hidden" sec:authorize="isAuthenticated()" name="memberName" th:value="${#authentication.name}" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" >
                        <i class="bi-cart-fill me-1"></i>
                        장바구니
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
</html>